<!DOCTYPE html>
<html>
<head>
    <title>Go to 山形</title>
    <link rel="stylesheet" href="/stylesheets/index.css">
</head>
<body>
<header>
    <img class="titlie_img" src="./images/GotoYamagata.png" alt="aikon" />
    <img class="cherry" src="./images/cherry.png" alt="cherry" />
    <nav class="nav">
        <ul class="menu-group">
            <li class="menu-item"><a href="/form">閲覧プレゼント</a></li>
            <li class="menu-item"><a href="/quiz">山形県クイズ</a></li>
            <li class="menu-item"><a href="/answer">アンケート集計</a></li>
            <li class="menu-item"><a href="/profile">プロフィール</a></li>
        </ul>
    </nav>
</header>
<main>
    <section class="slider">
        <ul class="fadeIn">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
        <div class="bg_pic">
            <p class="text_main">旅は思い出へと</p>
        </div>
        <div class="quiz_frame">
            <h1 class="text_block">思い出をつくるためにクイズで</h1>
            <div class="puize_block"><a class="btn" href="/quiz">山形県クイズ チャレンジ！</a></div>
        </div>
    </section>
    <section id="text">
        <h1 class="place">山形ってどんなところ？</h1>
        <div class="pref_block">
            <p class="place_details">主に４つにわかれています。<br/><br/>方言も全部違いがあり、市に寄って名産品も変わります<br/><br/>管理人の経験談ですが あまりにも文化と方言が異なり、<br/>同じ山形県民と出逢っても仲良くなれた経験がないのが<br/>悲しい所であります（笑）<br/><br/>方言の種類は<br/>庄内エリアは語尾に〜だのー<br/>新庄エリアは語尾に〜だにゃー<br/>村山エリアは語尾に〜だずー<br/>置賜エリアは語尾に〜だごで<br/><br/>など語尾だけで結構違うので<br/>同じ県民同士でも聞き取れないです！笑</p>
            <div
                class="pref_pic"><img class="pref" src="./images/pref.png" alt="place" /></div>
        </div>
    </section>
    <section id="access">
        <h1 class="place2">東京から山形までアクセス方法</h1>
        <div class="access_block">
            <p class="access_details">主にアクセス方法は３つがあります。<br><br>乗車時間は 飛行場＞新幹線＞バス の順に短く<br>乗り換えの手間などを考えたら新幹線の方が楽であり<br>値段はバスが安いです。<br><br>総合的に新幹線がオススメですが、<br>飛行機で早割などもあるので日数に余裕がある方など<br>状況や予算などに寄って選んでみると良いと思います！</p><img class="pref" src="./images/yamagata.png" alt="place" /></div>
    </section>
    <section id="present_box">
        <h1 class="place3"></h1>
        <div class="thank_image_block"><img class="thank_you" src="./images/thank_you.png" alt="thankyou" /></div>
        <div class="present_frame">
            <h1 class="textblock">ホームページを<br>閲覧してくれたあなたへ</h1>
            <div class="present_block"><a class="btn2" href="/form">プレゼントキャンペーン ＞</a></div>
        </div>
    </section>
    <div class="bottom"></div>
</main>
<footer>
    <p>© 2020 All Rights Reserved.</p>
</footer>
</body>

</html>