<!DOCTYPE html>
<head>
  <link rel="stylesheet" href="/stylesheets/presents.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script>
    setTimeout(function() {$('.drop-area').fadeOut(); }, 3800);
  </script>
  <title>presents</title>
</head>
<body>
  <div class="drop-area"></div>
  <div class="title_block">
  <h1 class="thankyou_title">アンケートありがとうございました</h1></div>
  <h1 class="thankyou">Go To トラベルで地方に行く際に<br>役立つような<span class="thank_span">LINEプログラムのプレゼント</span>です<br>新型コロナ対策にお使いください</h1>
  <div class="image_opration">
    <img class="line" src="./images/line.png" alt="line"/>
  </div>
  <h1 class="thankyou2">旅行楽しんできてくださいね！</h1>
  <div class="image_thankyou">
    <img class="thankyou_image" src="./images/thankyou.png" alt="line"/>
  </div>
  <div class="return">
    <a class="return_botton" href="/">戻る</a>
  </div>
</body>
</html>