<!DOCTYPE html>
<head>
  <link rel="stylesheet" href="/stylesheets/profile.css" />
</head>
<body>
  <div class="prof_block">
    <h1 class="prof">プロフィール</h1>
  </div>
  <div class="pic_box">
    <img class="pc_pic" src="./images/pc.png" alt="pc"/>
  </div>
  <h1 class="job_title">職務要約</h1>
  <h1 class="skill">
  フロント、バックエンドの開発 改修 、社内アプリの開発としてクローラーやbotの作成<br>システム自動化などを行っておりました。<br>人とコミュニケーションを取る事が得意なのでチーム業務も円滑に行える自信があります。
  </h1>
  <h1 class="job_title">テクニカルスキル 言語 / MW</h1>
  <h1 class="skill">
  PHP(Laravel)、Node.js(Express)、Java(strut2)、JavaScript(Vue.js)、VBScript、Google App Script、<br>AWS(EC2, IAM, S3, RDS, VPC, Rote53, ACM, CloundFront, ELB) 、HTML、CSS(Sass,Bootstrap)、<br>Docker、CircleCI、DB(MySQL, PostgreSQL)、Linux(CentOS, Ubuntu)、ShellScript、<br>Photoshop、Illustrator、XD、git、heroku、WinActor
  </h1>
  <div class="return">
    <a class="return_botton" href="/">戻る</a>
  </div>
</body>
</html>