<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/stylesheets/questionnaire.css">
</head>
<body>
<h1 class="title">アンケートページ</h1>
<br><br>
<div class="form">
<form action="/create" method="post">
  年代：
  <label><input type="radio" name="radio" value="10">10代</label>
  <label><input type="radio" name="radio" value="20">20代</label>
  <label><input type="radio" name="radio" value="30">30代</label>
  <label><input type="radio" name="radio" value="40">40代</label>
  <label><input type="radio" name="radio" value="50">50代</label>
  <label><input type="radio" name="radio" value="60">60代</label>
  <br><br>
  行きたい東北地方：
  <label><input type="checkbox" name="radio" value="青森">青森</label>
  <label><input type="checkbox" name="radio" value="岩手">岩手</label>
  <label><input type="checkbox" name="radio" value="秋田">秋田</label>
  <label><input type="checkbox" name="radio" value="山形">山形</label>
  <label><input type="checkbox" name="radio" value="宮城">宮城</label>
  <label><input type="checkbox" name="radio" value="福島">福島</label>
  <br><br>
  <input type="submit" values="送信">
</form>
</div>
</body>
</html>
